<h1>New bookmark</h1>

<%= form_for(@bookmark) do |f| %>
  <%= render 'shared/error_messages_bookmark', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :cols => 20, :rows => 5, :placeholder => "Describe your bookmark. Optional." %>
  </div>

  <div class="field">
    <%= f.label :tags %><br />
    <input type="text" name="tag_list" id="tag_list" placeholder="Separate tags with spaces." />
  </div>


<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelBookmarkNew" value="Cancel" class="button round" />
  </div>
<% end %>

