<h1>New tag</h1>

<%= form_for(@tag) do |f| %>
  <%= render 'shared/error_messages_tag', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelTagNew" value="Cancel" class="button round" />
  </div>
<% end %>

